<section
  class="cart-container"
  [class.dark]="isDarkMode"
  [class.light]="!isDarkMode"
>
  <div class="header">
    <img src="./assets/Angular.png" alt="Angular logo" class="ng-logo" />
    <h2>Cart</h2>
  </div>
  <div *ngIf="items.length === 0">The cart is empty</div>
  <section class="item-cart" *ngFor="let item of items">
    <h3>{{ item.name }}</h3>
    <button class="btn-remove" (click)="removeItem(item)">-</button>
  </section>
  <hr />
  <button class="btn-pay" *ngIf="items.length !== 0" (click)="emptyCart()">
    Pay
  </button>
</section>
